/* Start Variables */
:root {
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
}
ul {
  list-style-type: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Global Components */

/* End Global Components */
/* Start Header */
header {
  background-color: hsl(217, 28%, 15%);
  padding-top: 30px;
  padding-bottom: 30px;
}
header .container {
  display: flex;
  align-items: center;
}
header .container .logo img {
  display: flex;
  align-items: center;
  height: 30px;
}
header .container nav {
  flex-grow: 1;
}
header .container nav ul {
  display: flex;
  /* border: red 1px solid; */
  justify-content: flex-end;
}
header .container nav ul li:not(:last-child) {
  margin-right: 50px;
}
@media (max-width: 767px) {
  header .container nav ul {
    padding-right: 5px;
  }
  header .container nav ul li:not(:last-child) {
    margin-right: 20px;
  }
}
header .container nav ul li a {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
header .container nav ul li a:hover {
  font-weight: 700;
  text-decoration: underline;
}
/* End Header */
/* Start Intro Section*/
.intro {
  background-color: hsl(217, 28%, 15%);
  color: white;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
}
.intro::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 340px;
  left: 0;
  background-image: url(../images/bg-curvy-desktop.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.intro .container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro .container img,
.intro .container .intro-content {
  width: 70%;
  text-align: center;
}
.intro .container .intro-content {
  padding-bottom: 100px;
}
.intro .container .intro-content p {
  font-size: 14px;
  width: 65%;
  margin: 20px auto;
  line-height: 1.5;
}
.intro .container .intro-content a {
  background-color: hsl(198, 60%, 50%);
  padding: 10px 60px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: block;
  width: fit-content;
  margin: auto;
  transition-duration: .3s;
}
.intro .container .intro-content a:hover {
  background-color: hsl(176, 68%, 64%);
}
@media (max-width: 767px) {
  .intro::after {
    background-image: url(../images/bg-curvy-mobile.svg);
    bottom: 150px;
    height: 150px;
    width: 100%;
  }
  .intro::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 150px;
    left: 0;
    background-color: hsl(218, 28%, 13%);
  }
  .intro .container .intro-content h1 {
    font-size: 18px;
    line-height: 1.5;
  }
  .intro .container .intro-content p {
    width: 100%;
    font-size: 12px;
    line-height: 2;
  }
}
/* End Intro Section*/
/* Start Features Section*/
.features {
  background-color: hsl(218, 28%, 13%);
  color: white;
}
.features .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.features .container div {
  flex-basis: 35%;
  text-align: center;
  margin-bottom: 75px;
}
.features .container div img {
  height: 75px;
}
.features .container div p {
  line-height: 1.5;
}
@media (max-width: 767px) {
  .features .container {
    flex-direction: column;
  }
  .features .container div h2 {
    font-size: 18px;
  }
  .features .container div p {
    width: 98%;
    font-size: 15px;
    margin: auto;
  }
}
/* End Features Section*/
.productive {
  background-color: hsl(218, 28%, 13%);
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.productive .container {
  display: flex;
  justify-content: space-between;
}
.productive .container div {
  flex-basis: 40%;
}
.productive .container .image img{
  width: 550px;
}
.productive .container .content {
  align-self: center;
}
.productive .container .content h2 {
  font-size: 40px;
}
.productive .container .content p {
  line-height: 1.5;
}
.productive .container .content a {
  display: block;
  color: hsl(176, 68%, 64%);
  text-decoration: none;
  display: block;
  padding-bottom: 7px;
  width: fit-content;
  border-bottom: 1px solid hsl(176, 68%, 64%);
}
.productive .container .content a:hover {
  color: white;
  border-color: white;
}
.productive .container .content a:hover span img {
  filter: grayscale(100%) sepia(100%);
}
@media (max-width: 991px) {
  .productive .container {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .productive .container .image {
    margin: auto;
  }
  .productive .container .image img {
    width: 100%;
  }
  .productive .container .content {
    margin-top: 25px;
  }
  .productive .container .content h2 {
    font-size: 17px;
  }
  .productive .container .content p {
    font-size: 14px;
  }
}
/* End Productive Section*/
/* Start Testimonials Section*/
.testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: hsl(218, 28%, 13%);
  color: white;
}
.testimonials .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}
.testimonials .container .testimonial {
  flex-basis: calc(90% / 3);
  background-color: hsl(219, 30%, 18%);
  border-radius: 5px;
  padding: 40px 30px;
}
@media (max-width: 767px) {
  .testimonials .container {
    justify-content: center;
    align-items: center;
  }
  .testimonials .container .testimonial {
    flex-basis: 80%;
    margin-bottom: 30px;
  }
}
.testimonials .container .testimonial:first-child {
  position: relative;
}
.testimonials .container .testimonial:first-child .quote-image {
  position: absolute;
  width: 55px;
  height: 45px;
  top: -15px;
  left: 20px;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.testimonials .container .testimonial .text {
  line-height: 1.8;
  font-size: 13.5px;
}
.testimonials .container .testimonial .author {
  display: flex;
  align-items: center;
}
.testimonials .container .testimonial .author img {
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
}
.testimonials .container .testimonial .author .info p {
  line-height: 1.1;
  font-size: 10px;
}
.testimonials .container .testimonial .author .info  p:first-child {
  font-weight: 600;
}
/* End Testimonials Section*/
/* Start Mail Section*/
.mail {
  position: relative;
}
.mail .div1, .mail .div2 {
  height: 190px;
}
.mail .div1 {
  background-color: hsl(218, 28%, 13%);
}
.mail .div2 {
  background-color: hsl(216, 53%, 9%);
}
.mail .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(217, 28%, 15%);
  color: white;
  padding: 30px 50px;
  border-radius: 10px;
}
.mail .content p {
  width: 60%;
  text-align: center;
  line-height: 1.5;
  font-size: 13px;
  margin-bottom: 25px;
}
.mail .content form {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 90%;
  margin: auto;
}
.mail .content form input {
  padding: 10px 20px;
  border-radius: 25px;
  outline: none;
  border: none;
}
.mail .content form input:first-child {
  flex-basis: 75%;
  caret-color: #ccc;
}
.mail .content form input:first-child::placeholder {
  color: #ccc;
}
.mail .content form input:last-child {
  color: white;
  background-color: hsl(198, 60%, 50%);
  cursor: pointer;
  transition-duration: .3s;
}
.mail .content form input:last-child:hover {
  background-color: hsl(176, 68%, 64%);
}
@media (max-width: 767px) {
  .mail .content {
    width: 90%;
    padding: 20px;
  }
  .mail .content p {
    width: 100%;
  }
  .mail .content form {
    flex-direction: column;
  }
}
/* End Mail Section*/
/* Start Footer*/
footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: hsl(216, 53%, 9%);
  color: white;
}
footer .sub-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .container .sub-container div ul {
  padding: 0;
}
footer .container .sub-container a {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
}
footer .container .sub-container li:not(:last-child) {
  margin-bottom: 20px;
}
footer .container .sub-container > div {
  flex-basis: calc(100% / 5.5);
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  footer .container .sub-container > div {
    flex-basis: 100%;
  }
}
footer .container img {
  margin-bottom: 30px;
  height: 40px;
}
footer .container .sub-container .infos .location {
  line-height: 1.5;
  font-size: 14px;
}
footer .container .sub-container div p {
  position: relative;
  padding-left: 30px;
}
footer .container .sub-container div p::before {
  color: white;
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
footer .container .sub-container .location::before {
  content: '\f3c5';
  font-weight: 800;
  top: 10px;
}
footer .container .sub-container .contact-phone::before {
  content: '\f095';
  font-weight: 800;
}
footer .container .sub-container .contact-mail::before {
  content: '\f0e0';
}
footer .container .sub-container .social {
  text-align: center;
}
footer .container .sub-container .social i {
  border-radius: 50%;
  border: 1px solid white;
  padding: 5px;
  margin-right: 15px;
}
@media (max-width: 767px) {

}
/* End Footer*/