/* Start Variables */
:root {
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style-type: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Global Components */

/* End Global Components */
/* Start Header */
header {
  background-color: hsl(217, 28%, 15%);
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Raleway', sans-serif;
}
header .container {
  display: flex;
  align-items: center;
}
header .container .logo img {
  display: flex;
  align-items: center;
  height: 30px;
}
header .container nav {
  flex-grow: 1;
}
header .container nav ul {
  display: flex;
  /* border: red 1px solid; */
  justify-content: flex-end;
}
header .container nav ul li:not(:last-child) {
  margin-right: 50px;
}
@media (max-width: 767px) {
  header .container nav ul {
    padding-right: 5px;
  }
  header .container nav ul li:not(:last-child) {
    margin-right: 20px;
  }
}
header .container nav ul li a {
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 14px;
}
header .container nav ul li a:hover {
  font-weight: 800;
  text-decoration: underline;
}
/* End Header */